{% extends "base.html" %}

{% block title %}Tribu | Echos list{%endblock title %}

{% block main %}

<div>
    {% for echo in echos %}
        <div class="card m-4 p-2">
            <div class="card-header">
                <a href="{% url 'users:user-detail' echo.user %}">{{ echo.user }}</a>
            </div>
            <div class="card-body">
                <p class="card-text">{{ echo.content|truncatewords:20 }} <a href="{% url 'echos:echo-detail' echo.pk %}">[View More]</a></p>
            </div>
            <div class="card-footer text-muted">
                <small>
                    {% if echo.created_at|timesince:"now" == "7 days" %}
                        A week ago
                    {% elif echo.created_at|timesince:"now" < "7 days" %}
                        {{ echo.created_at|timesince }} ago
                    {% else %}
                        {{ echo.created_at|date:"d M, Y" }}
                    {% endif %}
                </small>
            </div>  
        </div>
    {% empty %}
    <div class="text-center">
        <h4>There are no echos right now</h4>
        <a href="{% url 'echos:add-echo' %}">
          <button type="button" class="btn btn-outline-secondary w-15 ">Add a new echo now</button>
        </a>
      </div>
    {% endfor %}
</div>

{% endblock main %}