{% extends "base.html" %}

{% block title %}Tribu | Wave detail{%endblock title %}

{% block main %}
  <div class="container mt-5">
    <div class="d-flex align-items-center mb-3">
      <img src="{{ echo.user.profile.avatar.url }}" alt="User avatar" class="rounded-circle me-3" width="50" height="50">
      <a href="{% url 'users:user-detail' wave.user %}" class="text-decoration-none">
          <h4 class="mb-0">{{ wave.user }}</h4>
      </a>
  </div>

  <div class="card mb-4 shadow-sm">
    <div class="card-body">
        <p class="card-text">{{ wave.content }}</p>
    </div>
  </div>
{% endblock main %}